{% extends "shops/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block extra_head %}
  <link rel="stylesheet" href='{%static "css/profile.css" %}' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block navigation %}
{% endblock %}

{% block content %}
<div class="titleContent">
  <h3>Информация профиля</h3>
</div>
<div class="wrapper">
    <div class="cardBox">
        <div class="row form-group">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="form-group">

                {% if form.is_bound %}
                    {% if field.errors %}
                    {{ field.label_tag }}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                    {% if field is not form.image %}
                        {{ field.label_tag }}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% endif %}
                {% else %}
                    {% if field is not form.image %}
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="buttonCreate">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>

        </div>
  </div>
  <div class="cardBox">
      {{ form.image.label_tag }}
      {% render_field form.image class="form-control" %}
  </div>
</form>
</div>

{% endblock %}


{% block extra_script %}
{% endblock %}
