{% extends "shops/base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href='{%static "css/product_details.css" %}' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navigation %}
  {% for category in categories %}
  <li class="nonauth">
    <a href="{% url 'prodcategory' category_id=category.pk  shop_id=shop_id %} ">
      <span class="icon"><ion-icon name={{category.icon}}></ion-icon></span>
      <span class="title">{{category.category}}</span>
    </a>
  </li>
  {% endfor %}
{% endblock %}

{% block content %}
    <div class="detail">
        <div class="imageCard">
            <img src="{{products.first.image.url}}" alt="">
        </div>
        <div class="info">
            <div class="title">{{products.first.title}}</div>
            <div class="rating">Средняя оценка: {{stars.stars__avg|floatformat:2}}</div>
            <div class="category">Категория: {{products.first.category_id}}</div>
            <div class="shop">Продавец: {{products.first.shop_id}}</div>
            <div class="city">Город: {{products.first.shop_id.city}}</div>
            <div class="address">Адресс: {{products.first.shop_id.address}}</div>
            <div class="phone">Телефон: {{products.first.shop_id.phone}}</div>
            <div class="amount">Количество в наличии: {{products.first.amount}} шт.</div>
            <div class="price">Цена: {{products.first.price}} грн/шт.</div>

            <div class="buttonCart">
                <div class="count">
                  <div class="minus prevent-select">-</div>
                  <div class="number" data-amount="{{products.first.amount}}">1</div>
                  <div class="plus prevent-select">+</div>
                </div>
                <button type="submit">В корзину</button>
            </div>

        </div>
    </div>
        <div class="description">
            <h3>Описание товара:</h3>
            <hr align="center" width=auto size="3" color="#287bff" />
            <br>
            <span>{{products.first.description}}</span>
        </div>
        <div class="reviewArea">

            <form method="POST">
                {% csrf_token %}
            <div class="stars">
                <div class="titleStars">Оцените товар:</div>
                <ul class="prevent-selected">
                    <li><label for="stars_1"><i class="rating__star fa fa-star" aria-hidden="true"></i></label><input type="radio" name="ratings" id="stars_1" value="1"></li>
                    <li><label for="stars_2"><i class="rating__star fa fa-star" aria-hidden="true"></i></label><input type="radio" name="ratings" id="stars_2" value="2"></li>
                    <li><label for="stars_3"><i class="rating__star fa fa-star" aria-hidden="true"></i></label><input type="radio" name="ratings" id="stars_3" value="3"></li>
                    <li><label for="stars_4"><i class="rating__star fa fa-star" aria-hidden="true"></i></label><input type="radio" name="ratings" id="stars_4" value="4"></li>
                    <li><label for="stars_5"><i class="rating__star fa fa-star" aria-hidden="true"></i></label><input type="radio" name="ratings" id="stars_5" value="5" checked="checked"></li>
                </ul>
            </div>
            <div class="sendReviews">
                {{formReview}}
                <div class="buttonSubmit">
                    <button type="submit" name="sendRewiew">Отправить отзыв</button>
                </div>
            </div>
            </form>

            <div class="review">
                {% for review in reviews %}
                <div class="userName">{{review.user_id}}</div>
                <hr align="center" width=auto size="3" color="#287bff" />
                <div class="userReview">{{review.review}}</div>
                <div class="dateReview">{{review.date|date:"d-m-Y"}}</div>
                <br>
                {% empty %}
                <div class="review">
                    <div class="userName">По этому товару еще нет отзывов... Будьте первым</div>
                    <hr align="center" width=auto size="3" color="#287bff" />
                </div>
                {% endfor %}
            </div>

        </div>


{% endblock %}



<!--    shop_id = models.ForeignKey('shops.Shop', on_delete=models.CASCADE)-->
<!--    category_id = models.ForeignKey(Category, on_delete=models.CASCADE)-->

{% block extra_script %}
  <script type="text/javascript" src = '{%static "js/counter.js" %}'></script>
  <script type="text/javascript" src = '{%static "js/stars.js" %}'></script>

{% endblock %}
